*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.card {
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    border: 0.5px solid black;
    box-shadow: 3px 3px 0 #000000;
}

.card:hover {
    box-shadow: 10px 10px 10px #000000;
}

img, 
p, 
h1,
i {
    margin: 10px;
}

.bold {
    font-weight: bold;
}

p {
    font-size: 0.7rem;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.category {
    width: max-content;
    padding: 3px;
    border-radius: 5px;
    background-color: #0a0a;
}

.paragraph {
    max-width: 250px;
    overflow-wrap: break-word;
}

img {
    border-radius: 10px;
}

.author a {
    color: inherit;
}

.author a:hover {
    font-size: 2rem;
    color: #0a0a
}